GROQ_API_KEY=aquiVaLaClaveDeAPIdelLLM
FLASK_SECRET_KEY=la_clave_que_genera_el_comando
USUARIO_PROFESOR=usuario_deseado
CONTRASENA_PROFESOR=contrasenya_deseada

}python -c "import secrets; print(secrets.token_hex(32))"
