# Entorno virtual
venv/

# Caché de Python
__pycache__/

# PDFs y documentos de trabajo
# Ignorar los archivos de las metodologías
documents/lean_startup/*
documents/simulacion_empresarial/*

# Mantener las carpetas en Git
!documents/lean_startup/.gitkeep
!documents/simulacion_empresarial/.gitkeep
# !documents/boe/.gitkeep

# Markdown generados automáticamente
!data/markdown_clean/.gitkeep

!data/markdown_clean/lean_startup/.gitkeep

!data/markdown_clean/simulacion_empresarial/.gitkeep
.vscode/settings.json

# API KEY env
.env

# historial de conversaciones
data/historial_conversaciones.json
data/historial_conversaciones

# Pruebas
data/markdown_raw/lean_startup/manual.md

# Ignorar todo el contenido de la carpeta logs excepto el archivo que mantiene la carpeta
data/logs/*
!data/logs/.gitkeep

# Datos q están relacionados que se borrarn y actualizan juntos
/data/knowledge/*
/data/vector_store/*
