# Entorno virtual
venv/

# Caché de Python
__pycache__/

# PDFs y documentos de trabajo
# Ignorar los archivos de las metodologías
documents/lean_startup/*
documents/simulacion_empresarial/*
# documents/boe/*

# Mantener las carpetas en Git
!documents/lean_startup/.gitkeep
!documents/simulacion_empresarial/.gitkeep
# !documents/boe/.gitkeep
# Markdown generados automáticamente
data/markdown_clean/*
!data/markdown_clean/.gitkeep
!data/markdown_clean/lean_startup/
!data/markdown_clean/lean_startup/.gitkeep
!data/markdown_clean/simulacion_empresarial/
!data/markdown_clean/simulacion_empresarial/.gitkeep